.main_north{height:95px;background-repeat: repeat-x;background-image: url(../images/mgbg.jpg);}
.main_west{width:200px;}
.main_east{width:190px;}
.main_south{height:25px;background-color: #f2f2f2;text-align: center;font-size: 12px;color: #333;line-height: 25px;}
.overflow_auto{overflow: auto;}
.absolute_right_bottom{position: absolute; right: 10px; bottom: 0px;}
.top_menu_div{display: none;}
.main_west ul{margin: 0;padding: 0;list-style: none;}
.main_west ul li{padding-left: 25px;list-style: none;height: 25px;line-height: 25px;cursor: pointer;background-color: #FFFFFF;border: 1px dashed #FFFFFF;color:00438A;}