<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jgenerator.model.LeaveMessageMapper">
    <cache />
    
    <insert id="insert" parameterType="org.jgenerator.model.LeaveMessage" useGeneratedKeys="true" keyProperty="id">
		insert into LeaveMessage 
		(id, username, email, phone, content, deployTime, status, attribute1, attribute2, attribute3, attribute4, attribute5)
		values
		(#{id}, #{username}, #{email}, #{phone}, #{content}, #{deployTime}, #{status}, #{attribute1}, #{attribute2}, #{attribute3}, #{attribute4}, #{attribute5})
	</insert>
	
	<select id="queryByCondition" parameterType="map" resultType="org.jgenerator.model.LeaveMessage">
		select * from LeaveMessage 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
        <if test="orderBy==null and sortBy==null">
			order by id desc
		</if>
        <if test="orderBy!=null">
			order by ${orderBy}
		</if>
        <if test="orderBy!=null and sortBy!=null">
			${sortBy}
		</if>
        <if test="beginRow==null or pageSize==null">
			limit 0,10
		</if>
        <if test="beginRow!=null and pageSize!=null">
			limit #{beginRow},#{pageSize}
		</if>
    </select>
    
    <select id="findAll" parameterType="map" resultType="org.jgenerator.model.LeaveMessage">
		select * from LeaveMessage 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
        </where>
    </select>

    <select id="distinct" parameterType="map" resultType="org.jgenerator.model.LeaveMessage">
		select Distinct * from LeaveMessage 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
        <if test="orderBy==null and sortBy==null">
			order by id desc
		</if>
        <if test="orderBy!=null">
			order by ${orderBy}
		</if>
        <if test="orderBy!=null and sortBy!=null">
			${sortBy}
		</if>
        <if test="beginRow==null or pageSize==null">
			limit 0,10
		</if>
        <if test="beginRow!=null and pageSize!=null">
			limit #{beginRow},#{pageSize}
		</if>
    </select>

    <select id="find" parameterType="map" resultType="org.jgenerator.model.LeaveMessage">
		select * from LeaveMessage 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
    </select>

    <select id="count" parameterType="map" resultType="int">
		select count(0) from LeaveMessage 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
    </select>

    <select id="fetch" parameterType="int" resultType="org.jgenerator.model.LeaveMessage">
		select * from LeaveMessage where id=#{id}
	</select>

    <select id="fetchByCondition" parameterType="int" resultType="org.jgenerator.model.LeaveMessage">
		select * from LeaveMessage
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <delete id="deleteById" parameterType="int">
		delete from LeaveMessage where id=#{id}
	</delete>

    <delete id="deleteByCondition" parameterType="map">
		delete from LeaveMessage 
        <where>
            <include refid="condition"/>
        </where>
    </delete>

    <update id="update" parameterType="org.jgenerator.model.LeaveMessage">
		update LeaveMessage 
        <set>
					<if test="id !=null">
						id = #{id},
					</if> 
					<if test="username !=null">
						username = #{username},
					</if> 
					<if test="email !=null">
						email = #{email},
					</if> 
					<if test="phone !=null">
						phone = #{phone},
					</if> 
					<if test="content !=null">
						content = #{content},
					</if> 
					<if test="deployTime !=null">
						deployTime = #{deployTime},
					</if> 
					<if test="status !=null">
						status = #{status},
					</if> 
					<if test="attribute1 !=null">
						attribute1 = #{attribute1},
					</if> 
					<if test="attribute2 !=null">
						attribute2 = #{attribute2},
					</if> 
					<if test="attribute3 !=null">
						attribute3 = #{attribute3},
					</if> 
					<if test="attribute4 !=null">
						attribute4 = #{attribute4},
					</if> 
					<if test="attribute5 !=null">
						attribute5 = #{attribute5}
					</if> 
        </set>
		where id = #{id}
    </update>

    <sql id="condition">
			<if test="id !=null">
				and id = #{id}
			</if> 
			<if test="username !=null">
				and username = #{username}
			</if> 
			<if test="email !=null">
				and email = #{email}
			</if> 
			<if test="phone !=null">
				and phone = #{phone}
			</if> 
			<if test="content !=null">
				and content = #{content}
			</if> 
			<if test="deployTime !=null">
				and deployTime = #{deployTime}
			</if> 
			<if test="status !=null">
				and status = #{status}
			</if> 
			<if test="attribute1 !=null">
				and attribute1 = #{attribute1}
			</if> 
			<if test="attribute2 !=null">
				and attribute2 = #{attribute2}
			</if> 
			<if test="attribute3 !=null">
				and attribute3 = #{attribute3}
			</if> 
			<if test="attribute4 !=null">
				and attribute4 = #{attribute4}
			</if> 
			<if test="attribute5 !=null">
				and attribute5 = #{attribute5}
			</if> 
    </sql>

    <sql id="andLikeCondition">
			<if test="andLikeId!=null and andLikeId!=''">
				and id like CONCAT(CONCAT('%',#{andLikeId}),'%')
			</if> 
			<if test="andLikeUsername!=null and andLikeUsername!=''">
				and username like CONCAT(CONCAT('%',#{andLikeUsername}),'%')
			</if> 
			<if test="andLikeEmail!=null and andLikeEmail!=''">
				and email like CONCAT(CONCAT('%',#{andLikeEmail}),'%')
			</if> 
			<if test="andLikePhone!=null and andLikePhone!=''">
				and phone like CONCAT(CONCAT('%',#{andLikePhone}),'%')
			</if> 
			<if test="andLikeContent!=null and andLikeContent!=''">
				and content like CONCAT(CONCAT('%',#{andLikeContent}),'%')
			</if> 
			<if test="andLikeDeployTime!=null and andLikeDeployTime!=''">
				and deployTime like CONCAT(CONCAT('%',#{andLikeDeployTime}),'%')
			</if> 
			<if test="andLikeStatus!=null and andLikeStatus!=''">
				and status like CONCAT(CONCAT('%',#{andLikeStatus}),'%')
			</if> 
			<if test="andLikeAttribute1!=null and andLikeAttribute1!=''">
				and attribute1 like CONCAT(CONCAT('%',#{andLikeAttribute1}),'%')
			</if> 
			<if test="andLikeAttribute2!=null and andLikeAttribute2!=''">
				and attribute2 like CONCAT(CONCAT('%',#{andLikeAttribute2}),'%')
			</if> 
			<if test="andLikeAttribute3!=null and andLikeAttribute3!=''">
				and attribute3 like CONCAT(CONCAT('%',#{andLikeAttribute3}),'%')
			</if> 
			<if test="andLikeAttribute4!=null and andLikeAttribute4!=''">
				and attribute4 like CONCAT(CONCAT('%',#{andLikeAttribute4}),'%')
			</if> 
			<if test="andLikeAttribute5!=null and andLikeAttribute5!=''">
				and attribute5 like CONCAT(CONCAT('%',#{andLikeAttribute5}),'%')
			</if> 
    </sql>

    <sql id="startLikeCondition">
			<if test="startLikeId!=null and startLikeId!=''">
				and id like CONCAT(CONCAT(#{startLikeId}),'%')
			</if> 
			<if test="startLikeUsername!=null and startLikeUsername!=''">
				and username like CONCAT(CONCAT(#{startLikeUsername}),'%')
			</if> 
			<if test="startLikeEmail!=null and startLikeEmail!=''">
				and email like CONCAT(CONCAT(#{startLikeEmail}),'%')
			</if> 
			<if test="startLikePhone!=null and startLikePhone!=''">
				and phone like CONCAT(CONCAT(#{startLikePhone}),'%')
			</if> 
			<if test="startLikeContent!=null and startLikeContent!=''">
				and content like CONCAT(CONCAT(#{startLikeContent}),'%')
			</if> 
			<if test="startLikeDeployTime!=null and startLikeDeployTime!=''">
				and deployTime like CONCAT(CONCAT(#{startLikeDeployTime}),'%')
			</if> 
			<if test="startLikeStatus!=null and startLikeStatus!=''">
				and status like CONCAT(CONCAT(#{startLikeStatus}),'%')
			</if> 
			<if test="startLikeAttribute1!=null and startLikeAttribute1!=''">
				and attribute1 like CONCAT(CONCAT(#{startLikeAttribute1}),'%')
			</if> 
			<if test="startLikeAttribute2!=null and startLikeAttribute2!=''">
				and attribute2 like CONCAT(CONCAT(#{startLikeAttribute2}),'%')
			</if> 
			<if test="startLikeAttribute3!=null and startLikeAttribute3!=''">
				and attribute3 like CONCAT(CONCAT(#{startLikeAttribute3}),'%')
			</if> 
			<if test="startLikeAttribute4!=null and startLikeAttribute4!=''">
				and attribute4 like CONCAT(CONCAT(#{startLikeAttribute4}),'%')
			</if> 
			<if test="startLikeAttribute5!=null and startLikeAttribute5!=''">
				and attribute5 like CONCAT(CONCAT(#{startLikeAttribute5}),'%')
			</if> 
    </sql>

    <update id="setNull" parameterType="map">
		update LeaveMessage 
        <set>${tableField} = null</set>
        <where>
            <if test="id!=null">id = #{id}</if>
            <include refid="condition"/>
        </where>
    </update>

    <select id="maxInt" parameterType="map" resultType="int">
		select max(${tableField}) from LeaveMessage 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
        </where>
    </select>
</mapper>