<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jgenerator.model.WebsiteAccessRecordsMapper">
    <cache />
    
    <insert id="insert" parameterType="org.jgenerator.model.WebsiteAccessRecords" useGeneratedKeys="true" keyProperty="id">
		insert into WebsiteAccessRecords 
		(id, ip, source, viewUser, viewSession, browserVersion, viewDate, attribute1, attribute2, attribute3, attribute4, attribute5)
		values
		(#{id}, #{ip}, #{source}, #{viewUser}, #{viewSession}, #{browserVersion}, #{viewDate}, #{attribute1}, #{attribute2}, #{attribute3}, #{attribute4}, #{attribute5})
	</insert>
	
	<select id="queryByCondition" parameterType="map" resultType="org.jgenerator.model.WebsiteAccessRecords">
		select * from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
        <if test="orderBy==null and sortBy==null">
			order by id desc
		</if>
        <if test="orderBy!=null">
			order by ${orderBy}
		</if>
        <if test="orderBy!=null and sortBy!=null">
			${sortBy}
		</if>
        <if test="beginRow==null or pageSize==null">
			limit 0,10
		</if>
        <if test="beginRow!=null and pageSize!=null">
			limit #{beginRow},#{pageSize}
		</if>
    </select>
    
    <select id="findAll" parameterType="map" resultType="org.jgenerator.model.WebsiteAccessRecords">
		select * from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
        </where>
    </select>

    <select id="distinct" parameterType="map" resultType="org.jgenerator.model.WebsiteAccessRecords">
		select Distinct * from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
        <if test="orderBy==null and sortBy==null">
			order by id desc
		</if>
        <if test="orderBy!=null">
			order by ${orderBy}
		</if>
        <if test="orderBy!=null and sortBy!=null">
			${sortBy}
		</if>
        <if test="beginRow==null or pageSize==null">
			limit 0,10
		</if>
        <if test="beginRow!=null and pageSize!=null">
			limit #{beginRow},#{pageSize}
		</if>
    </select>

    <select id="find" parameterType="map" resultType="org.jgenerator.model.WebsiteAccessRecords">
		select * from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
    </select>

    <select id="count" parameterType="map" resultType="int">
		select count(0) from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
            <include refid="startLikeCondition"/>
        </where>
    </select>

    <select id="fetch" parameterType="int" resultType="org.jgenerator.model.WebsiteAccessRecords">
		select * from WebsiteAccessRecords where id=#{id}
	</select>

    <select id="fetchByCondition" parameterType="int" resultType="org.jgenerator.model.WebsiteAccessRecords">
		select * from WebsiteAccessRecords
        <where>
            <include refid="condition"/>
        </where>
    </select>

    <delete id="deleteById" parameterType="int">
		delete from WebsiteAccessRecords where id=#{id}
	</delete>

    <delete id="deleteByCondition" parameterType="map">
		delete from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
        </where>
    </delete>

    <update id="update" parameterType="org.jgenerator.model.WebsiteAccessRecords">
		update WebsiteAccessRecords 
        <set>
					<if test="id !=null">
						id = #{id},
					</if> 
					<if test="ip !=null">
						ip = #{ip},
					</if> 
					<if test="source !=null">
						source = #{source},
					</if> 
					<if test="viewUser !=null">
						viewUser = #{viewUser},
					</if> 
					<if test="viewSession !=null">
						viewSession = #{viewSession},
					</if> 
					<if test="browserVersion !=null">
						browserVersion = #{browserVersion},
					</if> 
					<if test="viewDate !=null">
						viewDate = #{viewDate},
					</if> 
					<if test="attribute1 !=null">
						attribute1 = #{attribute1},
					</if> 
					<if test="attribute2 !=null">
						attribute2 = #{attribute2},
					</if> 
					<if test="attribute3 !=null">
						attribute3 = #{attribute3},
					</if> 
					<if test="attribute4 !=null">
						attribute4 = #{attribute4},
					</if> 
					<if test="attribute5 !=null">
						attribute5 = #{attribute5}
					</if> 
        </set>
		where id = #{id}
    </update>

    <sql id="condition">
			<if test="id !=null">
				and id = #{id}
			</if> 
			<if test="ip !=null">
				and ip = #{ip}
			</if> 
			<if test="source !=null">
				and source = #{source}
			</if> 
			<if test="viewUser !=null">
				and viewUser = #{viewUser}
			</if> 
			<if test="viewSession !=null">
				and viewSession = #{viewSession}
			</if> 
			<if test="browserVersion !=null">
				and browserVersion = #{browserVersion}
			</if> 
			<if test="viewDate !=null">
				and viewDate = #{viewDate}
			</if> 
			<if test="attribute1 !=null">
				and attribute1 = #{attribute1}
			</if> 
			<if test="attribute2 !=null">
				and attribute2 = #{attribute2}
			</if> 
			<if test="attribute3 !=null">
				and attribute3 = #{attribute3}
			</if> 
			<if test="attribute4 !=null">
				and attribute4 = #{attribute4}
			</if> 
			<if test="attribute5 !=null">
				and attribute5 = #{attribute5}
			</if> 
    </sql>

    <sql id="andLikeCondition">
			<if test="andLikeId!=null and andLikeId!=''">
				and id like CONCAT(CONCAT('%',#{andLikeId}),'%')
			</if> 
			<if test="andLikeIp!=null and andLikeIp!=''">
				and ip like CONCAT(CONCAT('%',#{andLikeIp}),'%')
			</if> 
			<if test="andLikeSource!=null and andLikeSource!=''">
				and source like CONCAT(CONCAT('%',#{andLikeSource}),'%')
			</if> 
			<if test="andLikeViewUser!=null and andLikeViewUser!=''">
				and viewUser like CONCAT(CONCAT('%',#{andLikeViewUser}),'%')
			</if> 
			<if test="andLikeViewSession!=null and andLikeViewSession!=''">
				and viewSession like CONCAT(CONCAT('%',#{andLikeViewSession}),'%')
			</if> 
			<if test="andLikeBrowserVersion!=null and andLikeBrowserVersion!=''">
				and browserVersion like CONCAT(CONCAT('%',#{andLikeBrowserVersion}),'%')
			</if> 
			<if test="andLikeViewDate!=null and andLikeViewDate!=''">
				and viewDate like CONCAT(CONCAT('%',#{andLikeViewDate}),'%')
			</if> 
			<if test="andLikeAttribute1!=null and andLikeAttribute1!=''">
				and attribute1 like CONCAT(CONCAT('%',#{andLikeAttribute1}),'%')
			</if> 
			<if test="andLikeAttribute2!=null and andLikeAttribute2!=''">
				and attribute2 like CONCAT(CONCAT('%',#{andLikeAttribute2}),'%')
			</if> 
			<if test="andLikeAttribute3!=null and andLikeAttribute3!=''">
				and attribute3 like CONCAT(CONCAT('%',#{andLikeAttribute3}),'%')
			</if> 
			<if test="andLikeAttribute4!=null and andLikeAttribute4!=''">
				and attribute4 like CONCAT(CONCAT('%',#{andLikeAttribute4}),'%')
			</if> 
			<if test="andLikeAttribute5!=null and andLikeAttribute5!=''">
				and attribute5 like CONCAT(CONCAT('%',#{andLikeAttribute5}),'%')
			</if> 
    </sql>

    <sql id="startLikeCondition">
			<if test="startLikeId!=null and startLikeId!=''">
				and id like CONCAT(CONCAT(#{startLikeId}),'%')
			</if> 
			<if test="startLikeIp!=null and startLikeIp!=''">
				and ip like CONCAT(CONCAT(#{startLikeIp}),'%')
			</if> 
			<if test="startLikeSource!=null and startLikeSource!=''">
				and source like CONCAT(CONCAT(#{startLikeSource}),'%')
			</if> 
			<if test="startLikeViewUser!=null and startLikeViewUser!=''">
				and viewUser like CONCAT(CONCAT(#{startLikeViewUser}),'%')
			</if> 
			<if test="startLikeViewSession!=null and startLikeViewSession!=''">
				and viewSession like CONCAT(CONCAT(#{startLikeViewSession}),'%')
			</if> 
			<if test="startLikeBrowserVersion!=null and startLikeBrowserVersion!=''">
				and browserVersion like CONCAT(CONCAT(#{startLikeBrowserVersion}),'%')
			</if> 
			<if test="startLikeViewDate!=null and startLikeViewDate!=''">
				and viewDate like CONCAT(CONCAT(#{startLikeViewDate}),'%')
			</if> 
			<if test="startLikeAttribute1!=null and startLikeAttribute1!=''">
				and attribute1 like CONCAT(CONCAT(#{startLikeAttribute1}),'%')
			</if> 
			<if test="startLikeAttribute2!=null and startLikeAttribute2!=''">
				and attribute2 like CONCAT(CONCAT(#{startLikeAttribute2}),'%')
			</if> 
			<if test="startLikeAttribute3!=null and startLikeAttribute3!=''">
				and attribute3 like CONCAT(CONCAT(#{startLikeAttribute3}),'%')
			</if> 
			<if test="startLikeAttribute4!=null and startLikeAttribute4!=''">
				and attribute4 like CONCAT(CONCAT(#{startLikeAttribute4}),'%')
			</if> 
			<if test="startLikeAttribute5!=null and startLikeAttribute5!=''">
				and attribute5 like CONCAT(CONCAT(#{startLikeAttribute5}),'%')
			</if> 
    </sql>

    <update id="setNull" parameterType="map">
		update WebsiteAccessRecords 
        <set>${tableField} = null</set>
        <where>
            <if test="id!=null">id = #{id}</if>
            <include refid="condition"/>
        </where>
    </update>

    <select id="maxInt" parameterType="map" resultType="int">
		select max(${tableField}) from WebsiteAccessRecords 
        <where>
            <include refid="condition"/>
            <include refid="andLikeCondition"/>
        </where>
    </select>
    
    <select id="groupCount" parameterType="map" resultType="org.jgenerator.core.model.GroupCount">
		select count(0) as countNumber,${groupBy} as groupCondition from WebsiteAccessRecords 
        <if test="groupBy != null">
            group by ${groupBy}
        </if>
    </select>
</mapper>